body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

body > header,
body > main,
body > footer {
    display: inline-block;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
}

header > img {
    float: left;
    padding: 20px;
}

header > nav {
    float: right;
    margin-right: 25px;
    margin-top: 20px;
}

nav > a{
    display: inline-block;
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 20px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

nav > a:hover {
    border-bottom: 2px solid black;
}

body > main {
    margin-top: 0px;
    height: 776px;
    background-color: bisque;
    background-image: url(../img/background-image.png);
    background-size: cover;
    background-position: center;
}

main > h1 {
    width: fit-content;
    color: #fff;
    font-size: 45px;
    text-align: center;
    position: absolute;
    left: 590px;
    top: 540px;
    letter-spacing: 3px;
    line-height: 1;
}

main > a {
    position: absolute;
    left: 775px;
    top: 665px;
    border: solid 1px #fff;
    text-decoration: none;
    color: white;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bolder;
    font-stretch:extra-condensed;
}

body > footer {
    height: 800px;
}

footer > .models {
    display: flex;
    margin-top: 50px;
}

.models > .suits {
    width: 30%;
    height: 700px;
    background-color: bisque;
    background-image: url(../img/suits.png);
    background-size: cover;
    margin-left: 65px;
}

.models > .knitwear {
    width: 30%;
    height: 700px;
    background-color: bisque;
    background-image: url(../img/knitwear.png);
    background-size: cover;
    margin-left: 25px;
}

.models > .coats {
    width: 30%;
    height: 700px;
    background-color: bisque;
    background-image: url(../img/coats.png);
    background-size: cover;
    margin-left: 25px;
}

.suits > a {
    color: #fff;
}

.knitwear > a{
    color: #fff;
}

.coats > a {
    color: #fff;
}
